.navHeader {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 'logo title user';
}

.logo {
    grid-area: logo;
}

.title {
    grid-area: title;
}

.user {
    grid-area: user;
}
